footer{
    background-color: #f3d2c1;;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
}
.row{
    padding: 0;
    margin: 0;
}
.footer-pagos img{
    padding: 5px;
    width: 60%;
}
.footer-info-text{
    margin-top: 20px;
}
.footer-info-link{
    font-size: 1.1rem;
    font-family: sans-serif;
    font-weight: 200;
    display: block;
    color: #001858;
}
.footer-info a:hover{
    color: black;
}
.footer-info img{
    width: 50%;
    transition: all 0.3s linear;
}
.footer-info img:hover{
    transform: scale(1.2);
}
.footer-redes span{
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 200;
    color: #001858;
}
.footer-redes i{
    font-size: 4rem;
    color: #001858;
    transition: all 0.3s linear;
}
.footer-redes i:hover{
    color: white;
}
.footer-derechos{
    background-color: black;
    margin-top: 25px;
}
.footer-derechos p{
    color: white;
}